<div>
    <svg viewBox="0 0 600 600" 
    height="400"
    width="450">
  <g>
    <g>
      <path id="halfCircle" [attr.stroke]="unselectedColor" fill="none" stroke-width="13" stroke-linecap="round" [attr.d]="mainPath"></path>
      <path id="selectedPart" [attr.stroke]="selectedColor" fill="none" stroke-width="13" stroke-linecap="round" [attr.d]="selectedPath"></path>
      <text x="150" font-size="60" font-weight="bold" y="150" text-anchor="middle" dy="6%">{{selectedValue}}</text>
      <text x="50" y="150" text-anchor="middle" dy="6%">{{minValue}}</text>
      <text x="250" y="150" text-anchor="middle" dy="6%">{{maxValue}}</text>
      <line [attr.x1]="arrowStartX" [attr.y1]="arrowStartY" [attr.x2]="arrowEndX" [attr.y2]="arrowEndY" class="arrow"/>
    </g>
    <g>
      <circle [attr.cx]="selectedPathX"
              [attr.cy]="selectedPathY"
        r="10"
        stroke="white"
        stroke-width="5"
        [attr.fill]="selectedColor">
        <!-- <animateMotion dur="5s" fill="freeze" repeatCount="1">
          <mpath xlink:href="#selectedPart"/>
        </animateMotion> -->
      </circle>
    </g>
  </g>
</svg>
</div>
