:host {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.list {
  max-width: 550px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}

.my-pagination {
  ::ng-deep {
    .ngx-pagination {
      display: flex;
      align-items: center;
      .current {
        background-color: #fab010;
        border-radius: 60%;
        padding: 0;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .pagination-next {
        a {
          &:after {
            content: "";
            margin-left: 0;
          }
        }
      }

      .pagination-previous {
        a {
          &:before {
            content: "";
            margin-right: 0;
          }
        }
      }

      .disabled {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: "";
          margin-right: 0;
        }

        &:after {
          content: "";
          margin-right: 0;
          margin-left: 0;
        }
      }

      a {
        padding: 0;
        border-radius: 60%;
        display: flex;
        outline: none;
        align-items: center;
        justify-content: center;
        height: 28px;
        width: 28px;
        &:hover {
          background: #fab010;
          color: white;
          opacity: 0.6;
        }
      }

      li {
        padding: 0;
        margin: 5px;
      }
    }
  }
}

.pie {
  width: 300px;
  border-radius: 50%;
  transform: rotate(-90deg);
}

.pie circle {
  fill: none;
  stroke-width: 32;
}