<!-- <div class="list">
  <ul>
    <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
  </ul>

  <pagination-controls (pageChange)="p = $event"
    previousLabel="&lt;"
    class="my-pagination"
    screenReaderPageLabel=""
    nextLabel="&gt;"></pagination-controls>
</div> -->
<!-- <gauge-chart selectedColor="#2BDEEB"
  unselectedColor="#D5F0F2"
  minValue="0"
  maxValue="100"
  selectedValue="50"
  mainRadius="100"></gauge-chart> -->
<pie-chart [chartParts]="chartPartsArr"></pie-chart>