.pie {
    width: 300px;
    border-radius: 50%;
  }
  
  .pie circle {
    fill: none;
    stroke-width: 32;
  }

  .sector {
    opacity: 0.5;

    circle {
      pointer-events: visibleStroke;
    }

    &:hover {
      opacity: 1;;
    }
  }