<div>
  <svg viewBox="0 0 64 64"
       class="pie">
    <g class="sector"
       *ngFor="let config of partsConfigs">
      <circle r="25%"
              fill="none"
              [attr.cx]="'calc(50% - ' + config.OffsetX + ')'"
              [attr.cy]="'calc(50% - ' + config.OffsetY + ')'"
              [attr.stroke]="config.Color"
              [attr.stroke-dasharray]="length"
              [attr.transform]="config.Transform"
              [attr.stroke-dashoffset]="config.Dashoffset"></circle>
    <text *ngIf="config.Value > 5"
            [attr.x]="config.TextX"
            [attr.y]="config.TextY"
            text-anchor="middle"
            alignment-baseline="middle"
            fill="white"
            font-size="7"
            font-weight="bold">{{config.Value}}%</text>
    </g>
  </svg>
</div>
<div style="display: flex;align-items: center;margin-top: 40px;">
  <div style="display: flex;align-items: center;">
    <div style="width: 8px;height: 8px;background: #26DFEC;border-radius: 60%;"></div>
    <div style="margin-left: 10px;">Done({{partsConfigs[0].Value}}%)</div>
  </div>
  <div style="display: flex;align-items: center;margin: 0 17px;">
    <div style="width: 8px;height: 8px;background: #FAB010;border-radius: 60%;"></div>
    <div style="margin-left: 10px;">Will be done({{partsConfigs[1].Value}}%)</div>
  </div>
  <div style="display: flex;align-items: center;">
    <div style="width: 8px;height: 8px;background: #F739AC;border-radius: 60%;"></div>
    <div style="margin-left: 10px;">Will not be done({{partsConfigs[2].Value}}%)</div>
  </div>
</div>